<a href="https://colab.research.google.com/github/Sottix99/ADM-HW5/blob/main/HW5_ale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data

## Data Preprocessing

In [1]:
import pandas as pd
import networkx as nx
import string 
import matplotlib.pyplot as plt
import scipy
from collections import Counter

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
edges = pd.read_csv('/content/drive/MyDrive/hw 5 ADM/edges.csv')

In [4]:
hero_network = pd.read_csv('/content/drive/MyDrive/hw 5 ADM/hero-network.csv')

In [5]:
nodes = pd.read_csv('/content/drive/MyDrive/hw 5 ADM/nodes.csv')

Some of the heroes' names in 'hero-network.csv' are not found in 'edges.csv'. This inconsistency exists for the following reasons:

Some heroes' names in 'hero-netowrk.csv' have extra spaces at the end of their names compared to their names in 'edges.csv'.
Some heroes' names in 'hero-netowrk.csv' have an extra '/' at the end of their names compared to their names in 'edges.csv'.
The hero name 'SPIDER-MAN/PETER PARKER' in 'edges.csv' has been changed to 'SPIDER-MAN/PETER PAR' in 'hero-network.csv' due to a string length limit in 'hero-network.csv'.

In [6]:
#Removing extra spaces at the end of the hero name
hero_network['hero1'] = hero_network['hero1'].apply(lambda x: x.rstrip())
hero_network['hero2'] = hero_network['hero2'].apply(lambda x: x.rstrip())

In [7]:
#Replace 'SPIDER-MAN/PETER PAR' with 'SPIDER-MAN/PETER PARKER'
hero_network.replace({'SPIDER-MAN/PETER PAR': 'SPIDER-MAN/PETER PARKER'}, inplace = True)

In [8]:
#Removing extra '/'
hero_network['hero1'] = hero_network['hero1'].apply(lambda x: x.rstrip('/'))
hero_network['hero2'] = hero_network['hero2'].apply(lambda x: x.rstrip('/'))
edges['hero'] = edges['hero'].apply(lambda x: x.strip('/'))

In [9]:
#After this we need to remove again the empty spaces at the end
hero_network['hero1'] = hero_network['hero1'].apply(lambda x: x.rstrip())
hero_network['hero2'] = hero_network['hero2'].apply(lambda x: x.rstrip())
edges['hero'] = edges['hero'].apply(lambda x: x.rstrip())

In [10]:
set(hero_network['hero1']).union(set(hero_network['hero2'])) == set(edges['hero'])

False

In [11]:
(set(hero_network['hero1']).union(set(hero_network['hero2']))).difference(set(edges['hero']))

set()

In [12]:
len(set(edges['hero']).difference(set(hero_network['hero1']).union(set(hero_network['hero2']))))

18

### Removing duplicates

In [13]:
hero_network.drop((hero_network[hero_network['hero1'] == hero_network['hero2']]).index, inplace = True)

### Save datasets

In [14]:
hero_network.to_csv('/content/drive/MyDrive/hw 5 ADM/hero_net_clean.csv', index=False)

In [15]:
edges.to_csv('/content/drive/MyDrive/hw 5 ADM/edges_clean.csv', index=False)

In [16]:
nodes.to_csv('/content/drive/MyDrive/hw 5 ADM/nodes_clean.csv', index=False)

## Graphs setup

#### First

In [17]:
hero_network

                       hero1                 hero2
0              LITTLE, ABNER        PRINCESS ZANDA
1              LITTLE, ABNER  BLACK PANTHER/T'CHAL
2       BLACK PANTHER/T'CHAL        PRINCESS ZANDA
3              LITTLE, ABNER        PRINCESS ZANDA
4              LITTLE, ABNER  BLACK PANTHER/T'CHAL
...                      ...                   ...
574462  COLOSSUS II/PETER RA              CALLISTO
574463              CALLISTO                 ROGUE
574464              CALLISTO               CALIBAN
574465               CALIBAN                 ROGUE
574466  HULK/DR. ROBERT BRUC     MARKS, DR. SHIELA

[572235 rows x 2 columns]

In [18]:
hero_net_g=hero_network.groupby(hero_network.columns.tolist(),as_index=False).size()
hero_net_g

                       hero1                 hero2  size
0       24-HOUR MAN/EMMANUEL       FROST, CARMILLA     1
1       24-HOUR MAN/EMMANUEL  KILLRAVEN/JONATHAN R     1
2       24-HOUR MAN/EMMANUEL              M'SHULLA     1
3       3-D MAN/CHARLES CHAN  ANGEL/WARREN KENNETH     1
4       3-D MAN/CHARLES CHAN  ANT-MAN II/SCOTT HAR     1
...                      ...                   ...   ...
224094                 ZZZAX      RODRIGUEZ, DEBRA     1
224095                 ZZZAX   ROSS, GEN. THADDEUS     2
224096                 ZZZAX  SUMMERS, NATHAN CHRI     1
224097                 ZZZAX    TIGRA/GREER NELSON     1
224098                 ZZZAX  WONDER MAN/SIMON WIL     1

[224099 rows x 3 columns]

we have the new df

In [19]:
hero_net_g['size'].describe()

count    224099.000000
mean          2.553492
std           7.285278
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max        1267.000000
Name: size, dtype: float64

In [20]:
hero_net_g['size'].sort_values()[-100:]

186191     133
148855     133
218821     134
78102      135
91072      135
          ...
196190     365
85416      366
195966     382
124735     627
142471    1267
Name: size, Length: 100, dtype: int64

In [21]:
G_1 = nx.from_pandas_edgelist(hero_net_g, 'hero1', 'hero2' , edge_attr='size') # dobbiamo scegliere la metrica giusta

In [22]:
#nx.draw(G_1) # mi da errore, forse sono troppi nodi?
#plt.show()

#### Second

In [23]:
nodes

                       node   type
0                   2001 10  comic
1                    2001 8  comic
2                    2001 9  comic
3      24-HOUR MAN/EMMANUEL   hero
4      3-D MAN/CHARLES CHAN   hero
...                     ...    ...
19085           ZOTA, CARLO   hero
19086                  ZOTA   hero
19087                 ZURAS   hero
19088                  ZURI   hero
19089                 ZZZAX   hero

[19090 rows x 2 columns]

In [24]:
edges

                       hero     comic
0      24-HOUR MAN/EMMANUEL    AA2 35
1      3-D MAN/CHARLES CHAN     AVF 4
2      3-D MAN/CHARLES CHAN     AVF 5
3      3-D MAN/CHARLES CHAN     COC 1
4      3-D MAN/CHARLES CHAN    H2 251
...                     ...       ...
96099                 ZZZAX    H2 326
96100                 ZZZAX    H2 327
96101                 ZZZAX  M/CP 8/4
96102                 ZZZAX     PM 47
96103                 ZZZAX   WCA2 12

[96104 rows x 2 columns]

First, we create the normal graph from edges.csv

In [25]:
G_2 = nx.from_pandas_edgelist(edges, 'hero', 'comic')

Then we create two different list that contains only the name of heroes or comics

In [26]:
n_h=nodes[nodes['type'] == 'hero']['node'].tolist()

In [27]:
n_c=nodes[nodes['type'] == 'comic']['node'].tolist()

Now we merge the two lists in a dictionary

In [28]:
dict_heroes_comics = {key: 'hero' if key in n_h else 'comic' for key in n_c + n_h}

Finally we add at each node of the graph its type

In [29]:
nx.set_node_attributes(G_2, dict_heroes_comics, 'type')

In [30]:
#nx.draw(G_2) # mi da errore, forse sono troppi nodi?
#plt.show()

# 2. Backend Implementation

## Functionality 1 - extract the graph's features

In [31]:
all_heroes=len(edges['hero'].value_counts())
all_heroes

6439

we save that value because it will be used in the functions to create the subgraph

In [33]:
def create_subN1(G,N):
  if N == all_heroes: # if N is not set by the user, the function should consider the whole data
    sub_g=G
  else: # otherwise we select only the top n nodes 
    series=edges['hero'].value_counts()[0:N]
    names_list=series.index.tolist()
    sub_g=G.subgraph(names_list)
  return sub_g

The difference between subN1 and subN2 is that in the latter one we consider also all the comic nodes, otherwise the graph will be empty (the edges are only  between a hero and a comic)

In [72]:
def create_subN2(G,N):
  if N == all_heroes: # if N is not set by the user, the function should consider the whole data
    sub_g=G
  else: # otherwise we select only the top n nodes of heroes + all comics
    series=edges['hero'].value_counts()[0:N]
    names_list=series.index.tolist()
    comics_list=edges['comic'].value_counts().index.tolist()
    all=names_list+comics_list
    sub_g=G.subgraph(all)
  return sub_g

In [ ]:
edges

                       hero     comic
0      24-HOUR MAN/EMMANUEL    AA2 35
1      3-D MAN/CHARLES CHAN     AVF 4
2      3-D MAN/CHARLES CHAN     AVF 5
3      3-D MAN/CHARLES CHAN     COC 1
4      3-D MAN/CHARLES CHAN    H2 251
...                     ...       ...
96099                 ZZZAX    H2 326
96100                 ZZZAX    H2 327
96101                 ZZZAX  M/CP 8/4
96102                 ZZZAX     PM 47
96103                 ZZZAX   WCA2 12

[96104 rows x 2 columns]

In [128]:
def functional1_type1(sub_g, G_type):

   output={} # initialize the dict of outputs

   # The number of nodes in the network
   num_nodes = sub_g.number_of_nodes()
   output['Number of nodes']=num_nodes

   # The number of collaborations of each superhero with the others (i.e the degrees)
   degrees=dict(sub_g.degree())
   output['Collaborations']=list(degrees.items())
  
   # The network's density
   density = nx.density(sub_g)
   output['Density']=density

   # The average degree of the network
   avg_degree=sum(degrees.values())/len(degrees.values())
   output['Average Degree']=avg_degree

   # The network's degree distribution
   degrees_list=list(degrees.values())
   degree_distribution = Counter(degrees_list) # Given the degrees list we obatin the frequency distribution
   sorted_degree_distribution = sorted(degree_distribution.items(), key=lambda x: x[0]) # we sort the frequency by the keys
   output['Degree Distribution']=sorted_degree_distribution





   # The network's Hubs
   sorted_dict = sorted(degrees.items(), key=lambda x: x[1])
   pos=int(len(sorted_dict)*0.95)
   output['Network Hubs']=sorted_dict[pos-1::]

   # Whether the Network is sparse or dense
   if density>0.5:
    output['Dense']=1.0 # 1 if it is dense
   else:
    output['Dense']=0.0 # 0 if it is sparse

   return output

In [109]:
G_2.number_of_nodes()

19087

In [129]:
def functional1_type2(sub_g, G_type):

   output={} # initialize the dict of outputs

# The following 3 rows of code will be usefull for the functionals regarding only the comic nodes

   # we obtain for each node the type
   dictionary_types=dict(nx.get_node_attributes(sub_g, "type"))
   # Then we obtain the list with only the comic nodes
   keys_comic = {k: v for k, v in dictionary_types.items() if v == 'comic'}
   comics=list(keys_comic.keys())

# Now we can start:

# regarding the Density of the graph we will use both types of nodes

   # The network's density
   density = nx.density(sub_g)
   output['Density']=density

   # Whether the Network is sparse or dense
   if density>0.5:
    output['Dense']=1.0 # 1 if it is dense
   else:
    output['Dense']=0.0 # 0 if it is sparse

# regarding the other operations we will consider only the comic type:

   # The number of nodes for both types
   total_number= sub_g.number_of_nodes()

   degrees=dict(sub_g.degree())
   comics_subset = {k: v for k, v in degrees.items() if k in comics}
   heroes_subset = {k: v for k, v in degrees.items() if k not in comics} 

   output['Total number of nodes']=total_number

   output['Number of heroes']=len(list(heroes_subset.items()))

   output['Number of comics']=len(list(comics_subset.items()))

   # The number of heroes that have appeared in each comic (i.e the degrees)
   degrees_subset = {k: v for k, v in degrees.items() if k in comics}
   output['Number of heroes in the comic']=list(degrees_subset.items())

   # The network's degree distribution
   degrees_list=list(degrees_subset.values())
   degree_distribution = Counter(degrees_list) # Given the degrees list we obatin the frequency distribution
   sorted_degree_distribution = sorted(degree_distribution.items(), key=lambda x: x[0]) # we sort the frequency by the keys
   output['Degree Distribution']=sorted_degree_distribution # The output means how many times each degree appears

   # The average degree of the network
   avg_degree=sum(degrees_subset.values())/len(degrees_subset.values())
   output['Average Degree']=avg_degree

   # The network's Hubs
   sorted_dict = sorted(degrees_subset.items(), key=lambda x: x[1])
   pos=int(len(sorted_dict)*0.95)
   output['Network Hubs']=sorted_dict[pos-1::]

   return output

In [130]:
def ex_features(G, G_type, N = all_heroes):
  
#################### Neither 1 or 2 ########################################
  
  if G_type not in [1, 2]:
    raise ValueError('Invalid graph type: remember, this function only accepts graph types equal to 1 or 2')

#################### TYPE = 1 ##############################################

  elif G_type == 1:
   # Create the Sub 
   sub_g= create_subN1(G,N)
   
   # Apply all the functions for Type = 1
   output= functional1_type1(sub_g, G_type)

   
#################### TYPE = 2 ##############################################

  else: 
   sub_g= create_subN2(G,N)
  
   # Apply all the functions for Type = 2
   output= functional1_type2(sub_g, G_type)


  return output

In [134]:
ex_features(G_2, 2, 10)

{'Density': 0.0001270710655914538,
 'Dense': 0.0,
 'Total number of nodes': 12661,
 'Number of heroes': 10,
 'Number of comics': 12651,
 'Number of heroes in the comic': [('AA2 35', 0),
  ('AVF 4', 1),
  ('AVF 5', 1),
  ('COC 1', 10),
  ('H2 251', 1),
  ('H2 252', 1),
  ('M/PRM 35', 0),
  ('M/PRM 36', 0),
  ('M/PRM 37', 0),
  ('WI? 9', 0),
  ('CA3 36', 1),
  ('CM 51', 2),
  ('Q 14', 0),
  ('Q 16', 0),
  ('T 208', 1),
  ('T 214', 1),
  ('T 215', 1),
  ('T 216', 1),
  ('T 440', 0),
  ('SLEEP 1', 0),
  ('SLEEP 19', 0),
  ('SLEEP 2', 0),
  ('DD/SM 1', 1),
  ('W2 52', 1),
  ('W2 53', 3),
  ('XFOR 108', 0),
  ('XFOR 109', 0),
  ('ABOM 2', 0),
  ('ABOM 3', 0),
  ('ASM 23', 1),
  ('H 15', 1),
  ('H 20', 0),
  ('H2 136', 1),
  ('H2 137', 1),
  ('H2 159', 1),
  ('H2 171', 1),
  ('H2 194', 1),
  ('H2 195', 1),
  ('H2 196', 1),
  ('H2 270', 1),
  ('H2 278', 10),
  ('H2 287', 1),
  ('H2 288', 1),
  ('H2 289', 1),
  ('H2 290', 1),
  ('H2 364', 1),
  ('H2 366', 1),
  ('H2 382', 1),
  ('H2 383', 2),
  ('H2 384', 1),
  ('H2 431', 1),
  ('H2 432', 1),
  ('H2 459', 1),
  ('H2 472', 1),
  ('H2 473', 1),
  ('H2 474', 1),
  ('H3 24', 1),
  ('H3 25', 1),
  ('M/SH3 6', 1),
  ('M/SH3 7', 1),
  ('M/SH3 8', 1),
  ('N 58', 1),
  ('N 59', 0),
  ('SOLOA 12', 0),
  ('SS 12', 0),
  ('SWII 7', 3),
  ('T 178', 1),
  ('TTA 90/2', 1),
  ('TTA 91/2', 1),
  ('WCA2 25', 1),
  ('X 74', 1),
  ('XM 32', 0),
  ("MX '01", 0),
  ('S-H2 21', 0),
  ('S-H2 22', 1),
  ('S-H2 23', 2),
  ('AA2 22', 1),
  ('AA2 23', 1),
  ('AA2 24', 1),
  ("FF '01", 5),
  ('GAM3 14', 0),
  ('XFOR 10', 0),
  ('XFOR 53', 0),
  ('XFOR 54', 0),
  ('A 183', 2),
  ('A 184', 2),
  ('A 20/4', 1),
  ('A 270', 1),
  ('A 273', 0),
  ('A 274', 1),
  ('A 275', 1),
  ('ASM 283', 1),
  ('ASM 429', 2),
  ('ASPOT 29/2', 3),
  ('AUP 3', 1),
  ('AUP 4', 0),
  ('CA3 24', 1),
  ('DAZZ 17', 0),
  ('DAZZ 18', 4),
  ('DAZZ 19', 0),
  ('DD 1', 0),
  ('DD 359', 0),
  ('DD:Y 1', 0),
  ('DPOOL3 43', 0),
  ('FF3 22', 4),
  ('H 18', 2),
  ('H2 125', 1),
  ('H2 208', 1),
  ('H2 209', 1),
  ('H2 261', 1),
  ('H2 347', 1),
  ('H2 348', 2),
  ('H2 456', 1),
  ('H2 457', 1),
  ('HFH 17', 0),
  ('JIM 114', 1),
  ('JIM 115', 1),
  ('JIM 120', 1),
  ('JIM 121', 1),
  ('JIM 122', 1),
  ('JIM 123', 1),
  ('M/CP 160/4', 0),
  ('M/SHSW 1', 8),
  ('M/SHSW 10', 8),
  ('M/SHSW 11', 8),
  ('M/SHSW 12', 8),
  ('M/SHSW 2', 8),
  ('M/SHSW 3', 8),
  ('M/SHSW 4', 8),
  ('M/SHSW 5', 8),
  ('M/SHSW 6', 8),
  ('M/SHSW 7', 8),
  ('M/SHSW 8', 7),
  ('M/SHSW 9', 9),
  ('M/VS 1/4', 0),
  ('Q 5', 1),
  ('T 2', 1),
  ('T 206', 1),
  ('T 207', 1),
  ('T2 14', 2),
  ('T2 25', 1),
  ('T2 26', 1),
  ('T2 27', 2),
  ('T 235', 1),
  ('T 236', 1),
  ('T 375', 2),
  ('T 376', 1),
  ('T 383', 2),
  ('T 436', 1),
  ('T 447', 2),
  ('T 448', 1),
  ('T 490', 1),
  ('TS 16', 0),
  ('W2 164', 1),
  ('Q 25', 0),
  ('BP3 10', 0),
  ('BP3 11', 0),
  ('BP3 12', 1),
  ('BP3 13', 0),
  ('BP3 23', 1),
  ('BP3 3', 0),
  ('BP3 4', 0),
  ('BP3 5', 0),
  ('BP3 8', 3),
  ('BP3 9', 3),
  ('DPOOL3 44', 1),
  ('CAGE 9', 1),
  ('H 17/5', 0),
  ('H 18/3', 0),
  ('H 20/3', 1),
  ('H2 379', 1),
  ('H2 381', 1),
  ('H2 386', 1),
  ('H2 387', 1),
  ('H2 395', 1),
  ('H2 397', 1),
  ('H2 421', 2),
  ('H2 423', 1),
  ('H2 424', 1),
  ('H2 425', 1),
  ('T 8', 0),
  ('CA:SL2 11', 2),
  ('ST 106', 4),
  ('ST 114', 2),
  ('AA2 27', 0),
  ('AA2 28', 0),
  ('AA2 29', 0),
  ('AA2 31', 0),
  ('ROM 60', 0),
  ('ROM 61', 0),
  ('ROM 62', 0),
  ('ROM 63', 0),
  ('ROM 64', 0),
  ('ROM 65', 2),
  ('ROM 66', 2),
  ('ROM 67', 0),
  ('ROM 71', 0),
  ('ROM 72', 0),
  ('DB 1', 1),
  ('A 77', 1),
  ('BP3 1', 0),
  ('BP3 14', 0),
  ('BP3 15', 1),
  ('BP3 16', 0),
  ('BP3 17', 1),
  ('BP3 18', 0),
  ('BP3 19', 1),
  ('BP3 2', 0),
  ('BP3 20', 0),
  ('BP3 22', 0),
  ('BP3 24', 0),
  ('BP3 25', 0),
  ('BP3 27', 1),
  ('BP3 6', 1),
  ('BP3 7', 2),
  ('ST 174', 0),
  ('ST 176', 0),
  ('ST 177', 0),
  ('CM4 2', 0),
  ('CM4 3', 0),
  ('X 38', 0),
  ('X 39', 0),
  ('NW 53', 0),
  ('NW 54', 0),
  ('NW 55', 0),
  ('NW 56', 0),
  ('NW 58', 0),
  ('NW 62', 0),
  ('NW 65', 0),
  ('NW 74', 0),
  ('A 260', 1),
  ('NO2 14', 0),
  ('NW 42', 0),
  ('FF 204', 5),
  ('FF 205', 4),
  ('FF 206', 3),
  ('FF 208', 4),
  ('FF 209', 4),
  ('FF 214', 5),
  ('NO2 15', 0),
  ('NO2 17', 0),
  ('NO2 18', 0),
  ('ROM 24', 0),
  ('DRSTR2 56', 0),
  ('ST 141/2', 0),
  ('ST 142/2', 0),
  ('ST 143/2', 0),
  ('T2 10', 1),
  ('T2 11', 1),
  ('T2 12', 1),
  ('T2 4', 1),
  ('T2 5', 4),
  ('T2 7', 1),
  ('T2 8', 2),
  ('T2 9', 1),
  ('NW 69', 0),
  ('NW 70', 0),
  ('NW 71', 0),
  ('UX 187', 1),
  ('UX 188', 0),
  ('UX 220', 1),
  ('UX 221', 1),
  ('UX 222', 1),
  ('UX 223', 1),
  ('UX 224', 1),
  ('UX 225', 1),
  ('UX 226', 1),
  ('UX 227', 1),
  ('XF 119', 0),
  ('XF 120', 0),
  ('XF 121', 0),
  ('NW2 1', 0),
  ('NW2 10', 0),
  ('NW2 2', 0),
  ('NW2 3', 1),
  ('NW2 4', 1),
  ('NW2 5', 0),
  ('NW2 6', 1),
  ('NW2 7', 0),
  ('NW2 8', 0),
  ('NW2 9', 1),
  ('W2 149', 1),
  ('C2 79', 0),
  ('C2 80', 0),
  ('C2 81', 0),
  ('C2 82', 0),
  ('C2 83', 0),
  ('C2 84', 0),
  ('DRSTR3 88', 0),
  ('DRSTR3 89', 0),
  ('M/TIO 10', 1),
  ('H 18/2', 1),
  ('H2 376', 1),
  ('H2 398', 1),
  ('H2 399', 3),
  ('H2 400', 1),
  ('H2 422', 1),
  ('DRSTR2 1', 0),
  ('DRSTR2 5', 0),
  ('DRSTR3 32', 0),
  ('DRSTR3 43', 0),
  ('DRSTR3 48', 0),
  ('DRSTR3 49', 0),
  ('DRSTR3 50', 1),
  ('DRSTR3 6', 0),
  ('DRSTR3 7', 0),
  ('M/PRM 5', 0),
  ('M/PRM 8', 0),
  ('M/TU 77', 1),
  ('ABOM 1', 0),
  ('DRSTR2 10', 0),
  ('DRSTR2 11', 0),
  ('DRSTR2 12', 0),
  ('DRSTR2 57', 0),
  ('DRSTR2 7', 0),
  ('DRSTR2 9', 0),
  ('DSDDGN', 0),
  ('ST 136/2', 0),
  ('UX 353', 1),
  ('UX 355', 1),
  ('UX 356', 1),
  ('UX 357', 0),
  ('UX 359', 1),
  ('C2 59', 0),
  ('C2 60', 0),
  ('C2 61', 0),
  ('C2 62', 0),
  ('INV 1', 1),
  ('INV 26', 1),
  ('INV 27', 1),
  ('INV 28', 1),
  ('GR3 29', 1),
  ('SSWP 7', 0),
  ('DS 2/5', 0),
  ('ST 119/2', 0),
  ('A 248', 1),
  ('E 11', 0),
  ('T 291', 1),
  ('INH2 1', 0),
  ('MK3 44', 4),
  ('FF3 3', 4),
  ('FF3 4', 4),
  ('FF3 5', 4),
  ('C2 71', 0),
  ('FF 23', 4),
  ('NM 6', 2),
  ('UX 14', 5),
  ('UX 199', 1),
  ('UX 377', 1),
  ('X 96', 1),
  ('X 97', 0),
  ('XCAL 35', 0),
  ('XCAL 52', 0),
  ('XCAL 66', 0),
  ('XF 5', 4),
  ('E2 10', 0),
  ('E2 2', 0),
  ('E2 5', 0),
  ('E2 7', 0),
  ('E2 9', 0),
  ('AR 2', 4),
  ('FF 402', 3),
  ('FF 411', 4),
  ('FF 413', 4),
  ('FFU 11', 0),
  ('I:GR', 0),
  ('INHUMANS GRAPHIC NOV', 0),
  ('W2 119', 1),
  ('W2 121', 1),
  ('X 77', 2),
  ('X 78', 1),
  ('IM3 1', 3),
  ("IM '99", 1),
  ('AA2 1', 3),
  ('AA2 2', 4),
  ('FF 47', 4),
  ('FF 83', 4),
  ('H 1', 1),
  ('H2 119', 1),
  ('INH 4', 0),
  ('INH 5', 0),
  ('INH 6', 0),
  ('M/FAN 14/2', 0),
  ('NW 29', 0),
  ('NW 30', 0),
  ('NW 7', 0),
  ('NW 8', 0),
  ('NW 9', 0),
  ('SS 18', 0),
  ('M/SH3 11/2', 0),
  ('FF 120', 4),
  ('FF 121', 4),
  ('SS3 106', 0),
  ('SS3 107', 0),
  ('SS3 108', 0),
  ('SS3 109', 0),
  ('SS3 73', 0),
  ('SS3 74', 0),
  ('SS3 75', 0),
  ('SS 7', 0),
  ('T 305', 4),
  ('T 306', 1),
  ('E 12', 0),
  ('E 2', 0),
  ('E 3', 0),
  ('E 4', 0),
  ('E 7', 0),
  ('E:HEROD', 0),
  ('IM 6', 1),
  ('T 284', 1),
  ('T 300', 1),
  ('T 301', 1),
  ('T 7', 1),
  ('DRSTR 2', 1),
  ('H2 391', 1),
  ('H2 392', 1),
  ('H2 393', 1),
  ('H2 394', 1),
  ('H2 444', 1),
  ('H2 446', 1),
  ('H2 448', 1),
  ('DPOOL3 15', 0),
  ('DPOOL3 16', 0),
  ('DPOOL3 19', 0),
  ('XF 76', 0),
  ('TB 45', 0),
  ('BP3 31', 0),
  ('BP3 33', 1),
  ('M/CO 71/2', 0),
  ('M/CP 69/2', 0),
  ('M/CP 70/2', 0),
  ('CA3 1', 5),
  ('CA3 21', 2),
  ('MAXSEC:DP', 0),
  ('GENX 42', 0),
  ('W2 37', 1),
  ('W2 38', 1),
  ('W2 39', 1),
  ('W2 40', 1),
  ('W2 41', 1),
  ('W2 42', 1),
  ('W2 43', 1),
  ('W2 45', 1),
  ('W2 46', 1),
  ('W2 51', 1),
  ('W2 82', 1),
  ('W2 83', 1),
  ('W2 84', 1),
  ('W2 86', 0),
  ('HAWK2', 0),
  ('NOM2 3', 0),
  ('XCAL 57', 1),
  ('XCAL 58', 1),
  ('XF 40', 0),
  ('XF 41', 0),
  ('A:T', 2),
  ('IM 28', 1),
  ('IM 326', 2),
  ('IM 327', 0),
  ('XFOR 71', 0),
  ('XFOR 72', 0),
  ('XFOR 73', 0),
  ('XFOR 74', 0),
  ('M/SH3 10/2', 0),
  ('N 1', 0),
  ('N 1/3', 6),
  ('N 17', 0),
  ('N 19', 0),
  ('N 2', 1),
  ('N 26', 1),
  ('N 28', 0),
  ('N 3', 0),
  ('N 6', 0),
  ('N 8', 0),
  ('N 9', 0),
  ('N 13', 5),
  ('N 15', 1),
  ('N 16', 0),
  ('N 18', 0),
  ('N 2/4', 0),
  ('N 4', 3),
  ('N 54', 0),
  ('N 55', 0),
  ('N 56', 0),
  ('N 57', 1),
  ('WOSM 73', 2),
  ('LSHOT 5', 0),
  ('NM 2', 0),
  ('UX 10', 1),
  ('AVF 9', 0),
  ('JIM 508', 0),
  ('SS3 112', 0),
  ('DOOM2 1', 0),
  ('DOOM2 2', 0),
  ('FF3 40', 5),
  ('GAM3 17', 0),
  ('GAM3 22', 0),
  ('FF 15', 4),
  ('FF 16', 4),
  ('ASM 220', 1),
  ('ASM 357', 1),
  ('HMAG 11/2', 0),
  ('HMAG 12/2', 0),
  ('HMAG 13/2', 0),
  ('HMAG 14/2', 0),
  ('HMAG 17/2', 0),
  ('HMAG 18/2', 0),
  ('HMAG 20/2', 0),
  ('M/FAN 30', 0),
  ('MK 1', 0),
  ('MK 10', 0),
  ('MK 11', 0),
  ('MK 12', 0),
  ('MK 13', 0),
  ('MK 14', 0),
  ('MK 15', 0),
  ('MK 16', 1),
  ('MK 17', 0),
  ('MK 18', 0),
  ('MK 2', 0),
  ('MK 20', 0),
  ('MK2 1', 0),
  ('MK 22', 0),
  ('MK2 2', 0),
  ('MK 23', 0),
  ('MK2 3', 0),
  ('MK 24', 0),
  ('MK2 4', 0),
  ('MK 25', 0),
  ('MK 26/2', 0),
  ('MK 27', 0),
  ('MK 28', 0),
  ('MK 29', 0),
  ('MK 3', 0),
  ('MK 30', 0),
  ('MK3 1', 0),
  ('MK3 11', 0),
  ('MK3 14', 0),
  ('MK3 15', 0),
  ('MK3 16', 0),
  ('MK3 17', 0),
  ('MK3 18', 0),
  ('MK3 19', 1),
  ('MK 32', 0),
  ('MK3 2', 1),
  ('MK 32/2', 0),
  ('MK3 22', 0),
  ('MK3 23', 0),
  ('MK3 25', 0),
  ('MK3 26', 0),
  ('MK3 28', 0),
  ('MK3 29', 0),
  ('MK3 3', 0),
  ('MK3 31', 0),
  ('MK3 32', 1),
  ('MK3 33', 1),
  ('MK3 34', 0),
  ('MK3 35', 0),
  ('MK3 38', 0),
  ('MK3 4', 0),
  ('MK 34/2', 0),
  ('MK 35', 5),
  ('MK3 5', 0),
  ('MK 36', 0),
  ('MK 37', 0),
  ('MK 38', 0),
  ('MK4 1', 0),
  ('MK4 2', 0),
  ('MK4 3', 0),
  ('MK4 4', 0),
  ('MK 6', 0),
  ('MK 7', 0),
  ('MK 8', 0),
  ('MK 9', 0),
  ('M/PRV 21', 0),
  ('M/SPT 28', 0),
  ('M/SPT 29', 0),
  ('M/TU 4', 1),
  ('PM&IF 87', 0),
  ('PPTSS 23', 1),
  ('UX 338', 1),
  ('UX 340', 1),
  ('X 59', 1),
  ('FW 8', 2),
  ('IM 238', 2),
  ('IM 239', 1),
  ('IM 241', 1),
  ('IM 242', 1),
  ('IM 243', 1),
  ('IM 245', 1),
  ('IM 246', 1),
  ('IM 247', 2),
  ('IM 248', 1),
  ('IM 256', 1),
  ('IM 281', 1),
  ('IM 283', 1),
  ('IM 284', 2),
  ('IM 285', 1),
  ('IM 286', 1),
  ('IM 306', 2),
  ('IM 310', 1),
  ('WARM 8', 1),
  ('FFOR 16', 0),
  ('FFOR 2', 0),
  ('FFOR 3', 0),
  ('FFOR 5', 0),
  ('FFOR 8', 0),
  ('FFOR 9', 2),
  ('REMNANTS', 0),
  ('HFH 12', 0),
  ('A 353', 0),
  ('A 354', 0),
  ('COC 3', 7),
  ('H2 279', 10),
  ('M/CP 27/4', 0),
  ('M/TIO 6', 1),
  ('A 85', 3),
  ('ELEK 11', 0),
  ('ELEK 12', 0),
  ('ELEK 13', 0),
  ('CA 428', 1),
  ('CA 429', 1),
  ('CA 430', 1),
  ('ELEK 15', 0),
  ('KP&W 5', 1),
  ('UX 181', 1),
  ('W2 150', 1),
  ('W2 151', 1),
  ('W2 152', 1),
  ('W2 153', 1),
  ('W2 158', 1),
  ('NM 7/2', 0),
  ('UX 15/2', 0),
  ('XF 6/2', 0),
  ('A 377', 0),
  ('DEF2 2', 1),
  ('A 148', 3),
  ('A 149', 3),
  ('AWC 4/5', 0),
  ('DEF 112', 1),
  ('DEF 113', 1),
  ('DEF 114', 1),
  ('SQS 1', 0),
  ('SQS 2', 0),
  ('SQS 3', 0),
  ('SQS 4', 0),
  ('SQS 5', 0),
  ('SQS 6', 0),
  ('SQS:NWO', 0),
  ('A 105', 2),
  ('M/FAN 1', 1),
  ('M/FAN 2', 1),
  ('M/FAN 3', 1),
  ('M/FAN 4', 1),
  ('UX 12', 1),
  ('UX 249', 0),
  ('UX 250', 0),
  ('UX 274', 1),
  ('UX 62', 0),
  ('UX 63', 0),
  ('W2 69', 0),
  ('X:HY 1', 0),
  ('X:HY 10', 0),
  ('X:HY 11', 0),
  ('X:HY 12', 0),
  ('X:HY 3', 0),
  ('X:HY 4', 0),
  ('CA 307', 1),
  ('CA 308', 1),
  ('CA 309', 1),
  ('CA 310', 1),
  ('CA 311', 1),
  ('CA 313', 1),
  ('CA 315', 1),
  ('CA 319', 1),
  ('CA 341', 2),
  ('CA 342', 1),
  ('CA 343', 1),
  ('CA 365/2', 0),
  ('CA 367/2', 0),
  ('CA 371', 1),
  ('CA 380', 1),
  ('CA 381', 1),
  ('CA 382', 1),
  ('CA 385/2', 0),
  ('CA 386/2', 0),
  ('CA 387', 1),
  ('CA 388', 1),
  ('CA 389', 1),
  ('CA 390', 1),
  ('CA 391', 1),
  ('CA 403/2', 0),
  ('CA 434', 1),
  ('CA 435', 1),
  ('CA 436', 1),
  ('CA 437', 2),
  ('IM 160', 1),
  ('M/TIO 64', 2),
  ('M/TIO 65', 1),
  ('UX 13', 2),
  ('X:SC 1', 0),
  ('X:SC 2', 0),
  ('X:SC 3', 0),
  ('X:SC 4', 0),
  ('FFU 9', 3),
  ('T 475', 1),
  ('T 476', 1),
  ('T 477', 1),
  ('T 480', 1),
  ('T 481', 1),
  ('T 482', 1),
  ('T 483', 0),
  ('T 484', 1),
  ('T 486', 1),
  ('T 487', 1),
  ('T 488', 2),
  ('T 489', 2),
  ('H2 176', 1),
  ('H2 178', 1),
  ('IM 112', 1),
  ('T 132', 1),
  ('T 133', 1),
  ('T 134', 1),
  ('T 155', 1),
  ('T 156', 1),
  ('T 160', 1),
  ('T 161', 1),
  ('T 162', 1),
  ('T 256', 1),
  ('T 257', 1),
  ('T 258', 1),
  ('T 259', 1),
  ('T 260', 1),
  ('T 261', 1),
  ('T 262', 1),
  ('T 263', 1),
  ('T 264', 1),
  ('T 265', 1),
  ('T 266', 1),
  ('T 267', 1),
  ('T 407', 1),
  ('T 419', 1),
  ('T 422', 1),
  ('T 423', 1),
  ('T 424', 1),
  ('T 425', 1),
  ('T 449/2', 0),
  ('T 450/2', 0),
  ('UX 137', 1),
  ('WLOCK 8', 0),
  ('AWC 72', 1),
  ('DPOOL3 46', 0),
  ('DPOOL3 47', 0),
  ('DPOOL3 48', 0),
  ('XFOR 116', 1),
  ('XFOR 117', 0),
  ('FW 6', 1),
  ('FW 7', 1),
  ('IM 312', 1),
  ('WARM 9', 1),
  ('AF 6/2', 0),
  ('ASPOT 37', 0),
  ('MX 32', 0),
  ('DEF 107', 4),
  ('DRSTR 1', 0),
  ('DRSTR 170', 0),
  ('DRSTR 174', 0),
  ('DRSTR 177', 0),
  ('DRSTR 178', 0),
  ('DRSTR2 13', 0),
  ('DRSTR2 19', 0),
  ('DRSTR2 26', 0),
  ('DRSTR2 27', 0),
  ('DRSTR2 28', 0),
  ('DRSTR2 4', 0),
  ('DRSTR2 51', 0),
  ('DRSTR2 75', 0),
  ('DRSTR3 23/2', 0),
  ('DRSTR3 8/2', 0),
  ('DRSTR3 84', 0),
  ('DRSTR3 85', 0),
  ('DRSTR3 87', 0),
  ('DS:WDS', 0),
  ('M/FEA 1/3', 0),
  ('M/FEA 2', 1),
  ('M/PRM 10', 0),
  ('M/PRM 3', 0),
  ('M/PRM 4', 0),
  ('M/PRM 6', 0),
  ('M/PRM 9', 0),
  ('ST 110/2', 0),
  ('ST 111/2', 0),
  ('ST 114/2', 0),
  ('ST 115/2', 0),
  ('ST 116/2', 0),
  ('ST 117/2', 0),
  ('ST 124/2', 0),
  ('ST 125/2', 0),
  ('ST 126/2', 0),
  ('ST 127/2', 0),
  ('ST 129/2', 0),
  ('ST 130/2', 0),
  ('ST 132/2', 0),
  ('ST 133/2', 0),
  ('ST 134/2', 0),
  ('ST 137/2', 0),
  ('ST 138/2', 0),
  ('ST 139/2', 0),
  ('ST 140/2', 0),
  ('ST 144/2', 0),
  ('ST 146/2', 0),
  ('ST 147/2', 0),
  ('ST 148', 0),
  ('ST 148/2', 0),
  ('ST 149/2', 0),
  ('ST 150/2', 0),
  ('ST 153/2', 0),
  ('ST 155/2', 0),
  ('ST 156/2', 0),
  ('ST 157/2', 0),
  ('ST 166', 0),
  ('ST 167/2', 0),
  ('ST 168', 0),
  ('ST3 11', 0),
  ('ST3 7/2', 0),
  ('UTSM:SE', 1),
  ('UX 33', 0),
  ('CAGE 5', 0),
  ('CAGE 6', 0),
  ('CAGE 7', 1),
  ("PPSM '00", 1),
  ('ASM 268', 1),
  ('SOLOA 17/2', 0),
  ('WOSM 6', 1),
  ('IM:IA 1', 1),
  ('FF3 12', 4),
  ('X 1', 1),
  ('X 2', 1),
  ('X 3', 1),
  ('C2 92', 0),
  ('C2 95', 0),
  ('UX 60', 0),
  ('UX 61', 0),
  ('XFOR 5', 0),
  ('CAGE 10', 1),
  ('CAGE 2', 0),
  ('CAGE 3', 0),
  ('CAGE 4', 0),
  ('AWC 4', 5),
  ('DAMCON3 4', 7),
  ('DEF 146', 0),
  ('DEF 147', 0),
  ('DEF 149', 0),
  ('DEF 150', 0),
  ('DEF 151', 0),
  ('DEF 152', 2),
  ('DRSTR3 3', 0),
  ('DRSTR3 4', 0),
  ('FF 22', 7),
  ('IM 10/2', 0),
  ('N 52', 0),
  ('N 53', 0),
  ('N 60', 0),
  ('N 61', 0),
  ('N 62', 0),
  ('ST2 5/2', 0),
  ('ST2 6/2', 0),
  ('ST2 7', 0),
  ('ST2 7/2', 0),
  ('T 14', 5),
  ('XF 4', 0),
  ('ASM 411', 1),
  ('PPTSS 234', 1),
  ('S-M 68', 1),
  ('S-M 69', 1),
  ('Q 42', 0),
  ('Q 43', 0),
  ('A 94', 5),
  ('A 97', 3),
  ('CM 2', 0),
  ('FF 257', 4),
  ('FF 37', 4),
  ('ASPOT 26', 0),
  ('ASPOT 28', 0),
  ('DD 100', 0),
  ('DD 101', 0),
  ('DD 105', 0),
  ('DD 106', 0),
  ('DD 107', 0),
  ('DEF 43', 1),
  ('IF 1', 1),
  ('IF 5', 0),
  ('IF 6', 0),
  ('IF 7', 0),
  ('M/CP 97/4', 0),
  ('M/PRM 25', 0),
  ('NF3 33', 0),
  ('NF3 34', 0),
  ('NF3 35', 0),
  ('S-W 34', 0),
  ('S-W 35', 0),
  ('S-W 50', 0),
  ("TB '97", 0),
  ('PHOENIX 1', 0),
  ('FF 370', 8),
  ('CA 442', 1),
  ('M/SH3 7/2', 0),
  ('USA 4', 0),
  ('S-M 70', 1),
  ('S-M 71', 1),
  ('S-M 74', 0),
  ('SMMM', 2),
  ('CAGE 1', 0),
  ('A 111', 3),
  ('A 151', 4),
  ('A 211', 3),
  ('A 214', 3),
  ('A 3', 8),
  ('A 53', 0),
  ('A 60', 7),
  ("A '99", 3),
  ('AA2 11', 0),
  ('AA2 15', 0),
  ('AF 111', 5),
  ('ARCHANGEL', 0),
  ('ASM 1', 8),
  ('ASM 282', 1),
  ('ASTONX2 1', 1),
  ('ASTONX2 2', 1),
  ('ASTONX2 3', 1),
  ('BSHP 4', 0),
  ('C2 16', 1),
  ('C2 20', 0),
  ('C2 31', 0),
  ('CA 174', 1),
  ('CA 175', 1),
  ('CD 2', 0),
  ('CD 3', 0),
  ('CD 4', 0),
  ('CHAMP 1', 0),
  ('CHAMP 10', 0),
  ('CHAMP 11', 0),
  ('CHAMP 12', 0),
  ('CHAMP 13', 0),
  ('CHAMP 14', 0),
  ('CHAMP 15', 0),
  ('CHAMP 16', 1),
  ('CHAMP 17', 0),
  ('CHAMP 2', 0),
  ('CHAMP 3', 0),
  ('CHAMP 4', 0),
  ('CHAMP 5', 0),
  ('CHAMP 6', 0),
  ('CHAMP 7', 0),
  ('CHAMP 8', 0),
  ('CHAMP 9', 0),
  ('COH 2', 1),
  ('COH 3', 5),
  ('CX 1', 1),
  ('DAZZ 2', 6),
  ('DAZZ 20', 0),
  ('DAZZ 21', 8),
  ('DAZZ 22', 0),
  ('DAZZ 23', 0),
  ('DAZZ 24', 0),
  ('DAZZ 27', 0),
  ('DAZZ 28', 0),
  ('DEF 125', 1),
  ('DEF 126', 0),
  ('DEF 127', 0),
  ('DEF 128', 0),
  ('DEF 129', 0),
  ('DEF 130', 0),
  ('DEF 131', 0),
  ('DEF 132', 0),
  ('DEF 133', 0),
  ('DEF 134', 0),
  ('DEF 135', 0),
  ('DEF 136', 0),
  ('DEF 137', 0),
  ('DEF 138', 0),
  ('DEF 139', 0),
  ('DEF 140', 0),
  ('DEF 141', 0),
  ('DEF 142', 0),
  ('DEF 143', 0),
  ('DEF 144', 0),
  ('DEF 145', 0),
  ('E2 8', 0),
  ('FF 28', 4),
  ('FF 3', 8),
  ('FF 36', 8),
  ('FF 368', 6),
  ('FF 369', 6),
  ("GAM '00", 0),
  ('GAM3 19', 0),
  ('GR2 23', 0),
  ('GR3 9', 0),
  ('GSX 1', 1),
  ('GZIL 3', 0),
  ...],
 'Degree Distribution': [(0, 6558),
  (1, 4398),
  (2, 600),
  (3, 371),
  (4, 467),
  (5, 100),
  (6, 59),
  (7, 47),
  (8, 32),
  (9, 9),
  (10, 9),
  (43, 1)],
 'Average Degree': 0.8087898189866414,
 'Network Hubs': [('FF 414', 4),
  ('SS3 93', 4),
  ('FF 335', 4),
  ('S-H2 30', 4),
  ('XM 59', 4),
  ('FF3 25', 4),
  ('M/TIO 74', 4),
  ('M/TIO 8', 4),
  ('Q 28', 4),
  ('A 116', 4),
  ('FF 160', 4),
  ('FF 162', 4),
  ('FF 163', 4),
  ('FF3 20', 4),
  ('FF 336', 4),
  ('FF 21', 4),
  ('FF 327', 4),
  ('FF 328', 4),
  ('FF 329', 4),
  ('FF 330', 4),
  ('FF 331', 4),
  ('FF 332', 4),
  ('FF 371', 4),
  ('FF 373', 4),
  ('H2 282', 4),
  ('SS 5', 4),
  ('SS3 16', 4),
  ('NW 16', 4),
  ('FF 33', 4),
  ('AF 93', 4),
  ('AF 94', 4),
  ('FF 129', 4),
  ('T 402', 4),
  ('NW 17', 4),
  ('H2 467', 4),
  ("GENX '96", 4),
  ('FF3 1', 4),
  ('FF3 38', 4),
  ('FF3 45', 4),
  ('FF3 37', 4),
  ('DAZZ 1', 4),
  ('FF 286', 4),
  ('M/TIO 78', 4),
  ('T 271', 4),
  ('X:HY 9', 4),
  ('MM 15', 4),
  ('H2 281', 4),
  ('FF 319', 4),
  ('FF 351', 4),
  ('SWII 2', 4),
  ('A3 39', 4),
  ('M/TU 61', 4),
  ('FF 130', 4),
  ('FF 158', 4),
  ('FF 159', 4),
  ('FF2 10', 4),
  ('FF 240', 4),
  ('FF 248', 4),
  ('FF2 9', 4),
  ('FF 45', 4),
  ('FF 46', 4),
  ('FF 48', 4),
  ('FF 5', 4),
  ('FF 50', 4),
  ('FF 52', 4),
  ('FF 54', 4),
  ('FF 56', 4),
  ('FF 59', 4),
  ('FF 60', 4),
  ('FF 62', 4),
  ('FF 99', 4),
  ('M/:LG 7', 4),
  ('M/TIO 83', 4),
  ("FF '99", 4),
  ('DEF 11', 4),
  ('A 266', 4),
  ('A 300', 4),
  ('A 330', 4),
  ('AF 61', 4),
  ('DEF 10', 4),
  ('A 307', 4),
  ('FF 119', 4),
  ('FF2 4', 4),
  ('FF 241', 4),
  ('FF2 5', 4),
  ('FF2 6', 4),
  ('FF 53', 4),
  ('M/TU 9', 4),
  ('SUB-M 35', 4),
  ('T 233', 4),
  ('M/K 6', 4),
  ('DAZZ 3', 4),
  ('DAZZ 4', 4),
  ('FF 216', 4),
  ('FF 63', 4),
  ('M/TIO 1', 4),
  ('FF3 6', 4),
  ('FF3 8', 4),
  ('FF3 18', 4),
  ('FF3 14', 4),
  ('FF3 21', 4),
  ('FF 361', 4),
  ('FF 186', 4),
  ('FF 223', 4),
  ('FF 176', 4),
  ('FF 177', 4),
  ('FF 178', 4),
  ('FF 262', 4),
  ('FF 168', 4),
  ('FF 169', 4),
  ('FF 170', 4),
  ('H2 300', 4),
  ("FF '00", 4),
  ('FF3 10', 4),
  ('FF3 13', 4),
  ('A 301', 4),
  ('A 316', 4),
  ('A 317', 4),
  ('A 318', 4),
  ('CPU 1', 4),
  ('H2 283', 4),
  ('H2 284', 4),
  ('IG 6', 4),
  ('MEPHV. 4', 4),
  ('M/TIO 92', 4),
  ('SS3 146', 4),
  ('SS3 52', 4),
  ('FF 219', 4),
  ('FF 354', 4),
  ('DRSTR2 53', 4),
  ('FF 358', 4),
  ('FF3 17', 4),
  ('FF3 33', 4),
  ('FF3 34', 4),
  ('PP 34', 4),
  ('PP 36', 4),
  ('PP 62', 4),
  ('REBEL', 4),
  ('FF 100', 4),
  ('FF 101', 4),
  ('FF 102', 4),
  ('FF 103', 4),
  ('FF 104', 4),
  ('FF 105', 4),
  ('FF 117', 4),
  ('FF 118', 4),
  ('FF 20', 4),
  ('FF 239', 4),
  ('FF 305', 4),
  ('FF 307', 4),
  ('FF 64', 4),

In [135]:
ex_features(G_1, 1, 10)

{'Number of nodes': 10,
 'Collaborations': [('INVISIBLE WOMAN/SUE', 9),
  ('THOR/DR. DONALD BLAK', 9),
  ('THING/BENJAMIN J. GR', 9),
  ('HUMAN TORCH/JOHNNY S', 9),
  ('SPIDER-MAN/PETER PARKER', 9),
  ('IRON MAN/TONY STARK', 9),
  ('HULK/DR. ROBERT BRUC', 9),
  ('MR. FANTASTIC/REED R', 9),
  ('WOLVERINE/LOGAN', 9),
  ('CAPTAIN AMERICA', 9)],
 'Density': 1.0,
 'Average Degree': 9.0,
 'Degree Distribution': [(9, 10)],
 'Network Hubs': [('WOLVERINE/LOGAN', 9), ('CAPTAIN AMERICA', 9)],
 'Dense': 1.0}